$yellow: #d7de21;
$black: #000;
$lightGrey: #f2f2f2;
$actionGrey: #d5d5d5;
$grey: #a8a8a8;
$white: #fff;

$PopupBackground: rgba(0, 0, 0, 0.5);

$Button-Bg_color_yellow: $yellow;
$Button-Bg_color_grey: $actionGrey;
$Button-Bg_color_white: $white;
$Button-HoveredBg_color-white: $yellow;
$Button-HoveredBg_color_grey: $grey;
$Button_Color_color_grey: $black;
$Button-Color_color_yellow: $black;
$Button-Color_color_white: $black;

$Line-Color: $grey;

$Link-BottomAddon_color: $yellow;
