@import 'common/ui/styles/ui-variables/grid.scss';

$Popup-ExitButtonWidth: $grid-2;
$Popup-ExitButtonHeight: $grid-2;

$Button-Width_size_l: 50px;
$Button-Height_size_l: 50px;

$Line-Height_size_s: 1px;

$Container-Width_size_s: 1032px;
$Container-Width_size_m: 1160px;
$Container-Width_size_l: 1172px;

$Text-FontSize_size_s: 16px;
$Text-FontSize_size_m: 18px;
