body,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

ol > li:before {
    content: counters(item, '.') '. ';
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, '.') '. ';
}
